<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand" %>

    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
        <li><%= link_to "Find Friends", users_path %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>

  </div>
</nav>
